/* src/styles/globals.css */

/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin 'tailwind-scrollbar';

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-custom {
  /* Adjust padding for smaller buttons for increment decrement -->Tanim */
  padding: 0.25rem 0.5rem;
  font-size: 0.5rem;
}

.btn-custom1 {
  /* Adjust padding for smaller buttons for increment decrement */
  padding: 0.5rem 0.5rem;
  font-size: 0.75rem;
  background-color: #ee2e2e;
  color: white;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  display: flex;
}

/* for drop shaow  */
.shadow-div {
  box-shadow: 0px 0px 6px #ee2e2e82; /* Red drop shadow */
}

/* for custom css in my cards  ----> Tanim */
/* Custom button size for small devices */
@media (max-width: 576px) {
  .rac_btn {
    padding: 1rem 1.5rem; /* Increase padding */
    /* Increase font size */
  }
}
/* Custom remove button size for small devices */
@media (max-width: 576px) {
  .btn-custom1 {
    padding: 0.5rem 1rem; /* Increase padding */
    font-size: 1rem; /* Increase font size */
    display: flex;
    justify-content: center;
    width: 50%; /* Full width on small screens */
    margin-top: 0.5rem;
  }
}

/*myProfile.js --> Tanim*/
/* Custom Edit Profile Text*/
.custom-title {
  font-size: 2rem; /* Adjust as necessary */
  color: #ee2e2e;
}

.profile-picture {
  width: 120px; /* Adjust width as needed */
  height: 120px; /* Adjust height as needed */
}

/* Nirob */

.theme-text {
  color: #ee2e2e;
}

/* Hide large cards on small screens */
.card-large {
  display: block;
}

.card-small {
  display: none;
}

/* Media query for small screens (414px to 420px) */
@media (max-width: 420px) {
  .card-large {
    display: none;
  }

  .card-small {
    display: block;
  }
}
