/*
[Master Stylesheet] 
Project: Restaurant and Catering Html
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
 1. Index Page
-------------------------------------------------------------------*/

/********************************************************
    body start
********************************************************/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&family=Merienda:wght@300..900&display=swap");
:root {
  --rac-primary-color: #ee2e2e;
  --rac-font-color: #b4b4b4;
  --rac-white-color: #ffffff;
  --rac-black-color: #292929;
  --rac-border-color: #3d3d3d;
  --rac-border-radius: 20px;
  --rac-transition: all 0.3s;
  --rac-box-shadow: 0 0 20px 0 rgba(62, 28, 131, 0.1);
}

html {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--rac-font-color);
  position: relative;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

*::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}

*::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--rac-primary-color);
  min-height: 150px;
}

a,
a:hover,
a:focus,
button,
button:hover,
button:focus {
  text-decoration: none;
  -webkit-transition: var(--rac-transition);
  -moz-transition: var(--rac-transition);
  -ms-transition: var(--rac-transition);
  -o-transition: var(--rac-transition);
  transition: var(--rac-transition);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-transition: var(--rac-transition);
  -moz-transition: var(--rac-transition);
  -ms-transition: var(--rac-transition);
  -o-transition: var(--rac-transition);
  transition: var(--rac-transition);
  margin: 0;
  padding: 0;
  word-break: break-word;
  text-transform: capitalize;
}

h1 {
  font-family: "Merienda", cursive;
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  font-weight: 700;
}

h5 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
}

h6 {
  font-size: 16px;
  font-weight: 500;
}

input,
textarea,
select,
button,
label,
svg,
svg path,
svg rect,
svg polygon,
img,
a,
:after,
:before,
:hover,
:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

::placeholder {
  color: #737373;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #737373;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

p {
  margin: 0px;
  word-break: break-word;
}

/********************************************************
    Common Style
********************************************************/

.rac_main_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #202020;
}

.rac_section {
  padding: 100px 0;
}

.row > * {
  padding-right: calc(var(--bs-gutter-x) * 0.625);
  padding-left: calc(var(--bs-gutter-x) * 0.625);
}

.row {
  row-gap: 30px;
}

.rac_section_heading {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

.rac_section_heading h5 {
  color: var(--rac-primary-color);
  margin-bottom: 10px;
}

.rac_section_heading h3 {
  position: relative;
  color: var(--rac-white-color);
}

.rac_section_heading h3::before,
.rac_section_heading h3::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 40px;
  background-color: var(--rac-primary-color);
  top: 50%;
  transform: translateY(-50%);
}

.rac_section_heading h3::before {
  margin-left: -17px;
}

.rac_section_heading h3::after {
  margin-left: 17px;
}

/********************************************************
    Inner Pages Banner Style
********************************************************/

.rac_inr_pages_banner {
  padding: 140px 0 90px;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.rac_page_title {
  text-align: center;
}

.rac_page_title h1 {
  color: #fcce2b;
  font-weight: 700;
  font-size: 60px;
}

.rac_breadcrumbs {
  display: inline-flex;
  gap: 10px;
  color: var(--rac-white-color);
}

.rac_breadcrumbs a {
  color: var(--rac-white-color);
}

.rac_breadcrumbs a:hover {
  color: var(--rac-primary-color);
}

/********************************************************
    Go to Top Style
********************************************************/

.rac_top_icon a {
  display: flex;
  background-color: var(--rac-primary-color);
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: var(--rac-transition) opacity 0;
  visibility: hidden;
  z-index: 1000;
  cursor: pointer;
  animation: border-transform 4s linear infinite alternate forwards;
}

@keyframes border-transform {
  0% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    transform: translateY(0px);
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
  100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
    transform: translateY(-20px);
  }
}

.rac_top_icon a:active {
  background-color: var(--rac-black-color);
}

.rac_top_icon a.show {
  opacity: 1;
  visibility: visible;
}

/********************************************************
    Loader Style
********************************************************/

.loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 999999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202020;
}

.loader img {
  width: 100px;
}

/********************************************************
    Button Style
********************************************************/

.rac_btn {
  min-height: 45px;
  border-radius: 5px;
  min-width: 135px;
  width: fit-content;
  color: var(--rac-white-color);
  padding: 5px 10px;
  transition: var(--rac-transition);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      to left,
      var(--rac-primary-color) 50%,
      transparent 50%
    )
    right;
  transition: var(--rac-transition);
  background-size: 200%;
  border: 1px solid var(--rac-primary-color);
}

.rac_btn:hover {
  background-position: left;
  color: var(--rac-primary-color);
}

/********************************************************
    Banner Section Style
********************************************************/

.rac_banner_wrapper {
  position: relative;
  background-image: url(../images/demo/banner_bg.webp);
  background-size: cover;
  padding: 90px 0;
  background-repeat: no-repeat;
  background-position: top left;
  overflow: hidden;
}

.rac_banner_wrapper::before {
  content: " ";
  background-image: url(../images/banner_shapes.webp);
  width: 100%;
  height: 100%;
  animation: 10s circlular linear infinite;
  position: absolute;
  top: 45px;
  background-repeat: no-repeat;
}

@keyframes circlular {
  from {
    -webkit-transform: rotate(0deg) translate(-12px) rotate(0deg);
    -moz-transform: rotate(0deg) translate(-12px) rotate(0deg);
    -ms-transform: rotate(0deg) translate(-12px) rotate(0deg);
    -o-transform: rotate(0deg) translate(-12px) rotate(0deg);
    transform: rotate(0deg) translate(-12px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translate(-12px) rotate(-360deg);
    -moz-transform: rotate(360deg) translate(-12px) rotate(-360deg);
    -ms-transform: rotate(360deg) translate(-12px) rotate(-360deg);
    -o-transform: rotate(360deg) translate(-12px) rotate(-360deg);
    transform: rotate(360deg) translate(-12px) rotate(-360deg);
  }
}

.rac_banner_content {
  position: relative;
  padding-left: 190px;
  z-index: 1;
}

.rac_banner_text h1 {
  font-size: 80px;
  font-weight: 700;
  color: var(--rac-white-color);
  line-height: 1.25;
}

.rac_banner_text h1 span {
  color: #fcce2b;
}

.rac_banner_text p {
  margin: 40px 0;
  max-width: 720px;
}

.rac_banner_img {
  position: relative;
  text-align: right;
}

.rac_banner_btn {
  display: flex;
  gap: 20px;
}

.rac_banner_btn .bnr_btn {
  background: transparent;
  color: var(--rac-white-color);
  border: 1px solid var(--rac-white-color);
}

/********************************************************
    Header Section Style
********************************************************/

.rac_header_wrapper {
  padding: 10px 0;
  position: absolute;
  transition: var(--rac-transition);
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.rac_header_wrapper.fixed {
  position: fixed;
  padding: 10px 0;
  background-color: rgb(32 32 32 / 80%);
  animation: 0.5s ease-in-out 0s normal none 1 running fadeInDown;
  backdrop-filter: blur(3px);
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.rac_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.rac_nav_item {
  display: flex;
  align-items: center;
  gap: 55px;
}

.rac_nav_item > ul {
  display: flex;
  gap: 50px;
}

.rac_nav_item > ul li a {
  font-weight: 500;
  color: var(--rac-white-color);
  padding: 10px 0;
  position: relative;
  transition: var(--rac-transition);
}

.rac_nav_item > ul li a:hover {
  color: var(--rac-primary-color);
}

.rac_nav_item > ul li a.active {
  color: var(--rac-primary-color);
}

.rac_nav_item > ul li a {
  color: var(--rac-white-color);
}

.rac_nav_btn {
  display: flex;
  gap: 5px;
  align-items: center;
}

.rac_nav_btn > ul {
  display: flex;
  align-items: center;
  gap: 55px;
}

.rac_toggle_btn,
.rac_res_logo {
  display: none;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 50px;
}

.line {
  fill: none;
  transition:
    stroke-dasharray 400ms,
    stroke-dashoffset 400ms;
  stroke: var(--rac-white-color);
  stroke-width: 4.5;
  stroke-linecap: round;
}

.ham7 .top {
  stroke-dasharray: 40 172;
}

.ham7 .middle {
  stroke-dasharray: 40 111;
}

.ham7 .bottom {
  stroke-dasharray: 40 172;
}

.menu-open .ham7 .top {
  stroke-dashoffset: -132px;
}

.menu-open .ham7 .middle {
  stroke-dashoffset: -71px;
}

.menu-open .ham7 .bottom {
  stroke-dashoffset: -132px;
}

/********************************************************
    About Section Style
********************************************************/

.rac_about_wrapper {
  position: relative;
  background-image: url(../images/demo/about_bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.rac_about_wrapper::before {
  content: " ";
  background-image: url(../images/about_shapes.webp);
  width: 100%;
  height: 100%;
  animation: 10s circlular linear infinite;
  position: absolute;
  top: 45px;
  left: 95px;
  background-repeat: no-repeat;
}

.rac_about_content {
  position: relative;
  max-width: fit-content;
  margin: auto;
}

.rac_about_content::before,
.rac_about_content::after {
  position: absolute;
  content: " ";
  background-repeat: no-repeat;
  background-size: 100%;
}

.rac_about_content::before {
  background-image: url(../images/about_leaf1.webp);
  width: 314px;
  height: 250px;
  left: -130px;
  top: 0;
}

.rac_about_content::after {
  background-image: url(../images/about_leaf2.webp);
  width: 356px;
  height: 431px;
  right: -200px;
  bottom: 5px;
}

.rac_about_box {
  border: 1px solid var(--rac-border-color);
  background: var(--rac-black-color);
  border-radius: var(--rac-border-radius);
  padding: 10px;
  position: relative;
  z-index: 1;
}

.rac_about_img {
  position: relative;
  border-radius: var(--rac-border-radius);
  overflow: hidden;
}

.rac_about_img img {
  width: 100%;
  object-fit: cover;
}

.rac_about_play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rac_about_play a {
  background-color: var(--rac-primary-color);
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.rac_about_play::before,
.rac_about_play::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--theme-color);
  z-index: -1;
  border-radius: 50%;
  -webkit-transition: all ease 0.4s;
  transition: all ease 0.4s;
}

.rac_about_play:before,
.rac_about_play:after {
  background-color: var(--rac-white-color);
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-name: ripple;
}

.rac_about_play:after {
  animation-delay: 2s;
}

@keyframes ripple {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
  30% {
    opacity: 0.4;
  }
  100% {
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    opacity: 0;
  }
}

.rac_about_text {
  padding-right: 15px;
}

.rac_about_text h4 {
  color: var(--rac-primary-color);
}

.rac_about_text h3 {
  font-family: "Manrope", sans-serif;
  color: var(--rac-white-color);
  font-size: 32px;
  margin-top: 5px;
}

.rac_about_text p {
  margin-top: 20px;
}

.rac_about_bottom {
  position: relative;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.rac_about_name {
  position: relative;
  z-index: 1;
}

.rac_about_name h4 {
  color: var(--rac-white-color);
  margin: 10px 0 5px;
}

.rac_about_bottom_img {
  margin-bottom: -25px;
  position: absolute;
  right: 0;
  bottom: 0;
}

/********************************************************
    Offer Section Style
********************************************************/

.rac_offer_wrapper {
  position: relative;
  overflow: hidden;
  background-color: #1d1e1e;
  background-image: url(../images/demo/offer_bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rac_offer_wrapper::before {
  content: " ";
  background-image: url(../images/offer_shapes.webp);
  width: 100%;
  height: 100%;
  animation: 10s circlular linear infinite;
  position: absolute;
  top: 70px;
  left: 55px;
  background-repeat: no-repeat;
}

.rac_offer_box {
  display: flex;
  align-items: center;
}

.rac_offer_img {
  min-width: 190px;
  z-index: 1;
}

.rac_offer_img img {
  animation: rotate 40s linear infinite;
  border-radius: 50%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rac_offer_content {
  border: 1px solid var(--rac-border-color);
  background: var(--rac-black-color);
  border-radius: var(--rac-border-radius);
  padding: 30px;
  position: relative;
  margin-left: -95px;
  padding-left: 125px;
}

.rac_offer_text {
  margin-bottom: 15px;
}

.rac_offer_text h4 {
  color: var(--rac-white-color);
  margin-bottom: 12px;
}

.rac_offer_btm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--rac-border-color);
  padding-top: 12px;
}

.rac_offer_rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.rac_offer_price {
  display: flex;
  align-items: center;
  gap: 15px;
}

.rac_offer_price h4 {
  font-size: 24px;
}

.rac_offer_price h4 del {
  color: #747474;
}

.rac_offer_price h4:last-child {
  color: var(--rac-primary-color);
}

/********************************************************
    Services Section Style
********************************************************/

.rac_service_wrapper {
  position: relative;
  overflow: hidden;
  background-image: url(../images/service_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rac_service_box {
  border: 1px solid var(--rac-border-color);
  background: var(--rac-black-color);
  border-radius: var(--rac-border-radius);
  padding: 0 15px 15px;
  position: relative;
  text-align: center;
  margin: 50px auto 0;
}

.rac_service_icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -50px auto 0;
  outline: 10px solid #202020;
}

.rac_service_icon:hover {
  outline: 10px solid #202020;
}

.rac_service_icon.icon1 {
  background: linear-gradient(180deg, #ff4343 0%, #ff7676 100%);
}

.rac_service_icon.icon2 {
  background: linear-gradient(180deg, #f89b11 0%, #ffc876 100%);
}

.rac_service_icon.icon3 {
  background: linear-gradient(180deg, #65b500 0.01%, #9beb36 100%);
}

.rac_service_icon.icon4 {
  background: linear-gradient(180deg, #2895fa 0.01%, #8cc8ff 100%);
}

.rac_service_icon.icon5 {
  background: linear-gradient(180deg, #9643ff 0%, #bb85ff 100%);
}

.rac_service_icon.icon6 {
  background: linear-gradient(180deg, #fb3cd1 0%, #ff74e0 100%);
}

.rac_service_icon.icon7 {
  background: linear-gradient(180deg, #3963f5 0%, #7c9aff 100%);
}

.rac_service_icon.icon8 {
  background: linear-gradient(180deg, #0abcd5 0%, #4fe6fb 100%);
}

.rac_service_text {
  margin-top: 20px;
}

.rac_service_text h4 {
  color: var(--rac-white-color);
}

.rac_service_text p {
  margin: 10px 0 5px;
}

.rac_service_text a {
  font-size: 14px;
  font-weight: 600;
  color: var(--rac-primary-color);
}

.rac_service_text a:hover img {
  animation: rac_lr 1s infinite alternate;
}

@keyframes rac_lr {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(10px);
  }
}

/********************************************************
    Book Us Section Style
********************************************************/

.rac_booking_wrapper {
  position: relative;
  overflow: hidden;
  background-image: url(../images/demo/booking_bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 0 0;
}

.rac_booking_wrapper::before {
  content: " ";
  background-image: url(../images/booking_shapes.webp);
  width: 100%;
  height: 100%;
  animation: 10s circlular linear infinite;
  position: absolute;
  top: 70px;
  left: 55px;
  background-repeat: no-repeat;
}

.rac_booking_content {
  position: relative;
}

.rac_booking_box {
  border: 1px solid var(--rac-border-color);
  background-color: rgb(41 41 41 / 60%);
  border-radius: var(--rac-border-radius);
  padding: 30px 30px 35px;
  position: relative;
  backdrop-filter: blur(8px);
}

.rac_form_input label {
  width: 100%;
  margin-bottom: 5px;
}

.rac_form_input {
  position: relative;
}

.rac_form_input select,
.rac_form_input input {
  position: relative;
  width: 100%;
  background-color: var(--rac-black-color);
  border: 1px solid var(--rac-border-color);
  min-height: 45px;
  padding: 0 15px;
  border-radius: 5px;
  color: #737373;
  font-size: 14px;
  appearance: none;
}

.rac_form_input select,
.rac_form_input select option {
  cursor: pointer;
}

.rac_form_input textarea {
  position: relative;
  width: 100%;
  background-color: var(--rac-black-color);
  border: 1px solid var(--rac-border-color);
  min-height: 70px;
  padding: 10px 15px;
  border-radius: 5px;
  color: #737373;
  font-size: 14px;
  resize: none;
}

.rac_form_input span {
  position: relative;
}

.rac_form_input span::before {
  content: "";
  position: absolute;
  background-image: url(../images/dropdown.svg);
  width: 10px;
  height: 5px;
  background-repeat: no-repeat;
  top: 10px;
  right: 15px;
  background-size: contain;
  z-index: 1;
}

.rac_form_input input[type="date"] {
  text-transform: uppercase;
}

.rac_form_input input::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.4;
}

.rac_booking_box .response {
  margin-top: 15px;
  margin-bottom: -15px;
  color: var(--rac-primary-color);
}

.rac_form_btn {
  margin-top: 5px;
}

.rac_form_btn .rac_btn {
  min-width: 155px;
}

.rac_booking_img {
  margin-top: -25px;
}

/********************************************************
    Menu Section Style
********************************************************/

.rac_menu_wrapper {
  position: relative;
  overflow: hidden;
  background-image: url(../images/service_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rac_menu_tab {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: var(--rac-black-color);
  border: 1px solid var(--rac-border-color);
  max-width: fit-content;
  margin: auto;
  gap: 15px 20px;
  padding: 10px;
  flex-wrap: wrap;
}

.rac_menu_tab li .rac_btn,
.rac_btn_menu {
  background: #202020;
  border: 1px solid transparent;
}

.rac_menu_tab li .rac_btn:hover,
.rac_btn_menu:hover,
.rac_btn_menu.active,
.rac_menu_tab li .rac_btn.active {
  background: var(--rac-primary-color);
  border: 1px solid var(--rac-primary-color);
  color: var(--rac-white-color);
}

.rac_tab_pane {
  display: none;
}

.rac_menu_box {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.rac_menu_img {
  min-width: 100px;
  height: 100px;
  border-radius: var(--rac-border-radius);
  overflow: hidden;
}

.rac_menu_img img {
  object-fit: cover;
}

.rac_menu_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.rac_menu_title h4 {
  color: var(--rac-white-color);
}

.rac_menu_title h2 {
  font-size: 24px;
  font-weight: 700;
  color: var(--rac-primary-color);
  position: relative;
}

.rac_menu_title h2::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 1px;
  background-color: var(--rac-border-color);
  top: 50%;
  right: 60px;
}

/********************************************************
    Chefs Section Style
********************************************************/

.rac_chefs_wrapper {
  position: relative;
  overflow: hidden;
  background-color: #1d1e1e;
  background-image: url(../images/demo/chefs_bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rac_chefs_wrapper::before {
  content: " ";
  background-image: url(../images/chefs_shapes.webp);
  width: 100%;
  height: 100%;
  animation: 10s circlular linear infinite;
  position: absolute;
  top: 45px;
  left: 85px;
  background-repeat: no-repeat;
}

.rac_chefs_box {
  position: relative;
  min-height: 200px;
  display: flex;
  align-items: flex-end;
}

.rac_chefs_text {
  border: 1px solid var(--rac-border-color);
  background: var(--rac-black-color);
  border-radius: 20px 0 20px 0;
  max-width: calc(100% - 25px);
  padding: 30px 20px;
  width: 100%;
}

.rac_chefs_text h6 {
  color: var(--rac-white-color);
}

.rac_chefs_text p {
  font-size: 14px;
}

.rac_chefs_img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.rac_chefs_social {
  display: flex;
  align-items: center;
  background: var(--rac-black-color);
  border: 1px solid var(--rac-border-color);
  width: 100%;
  border-radius: 0 0 20px 20px;
  justify-content: space-around;
  padding: 8px 0;
  border-top: none;
  transition: var(--rac-transition);
}

.rac_chefs_social:hover {
  background: var(--rac-primary-color);
}

.rac_chefs_social li a svg {
  transition: var(--rac-transition);
}

.rac_chefs_social li a:hover svg {
  transform: rotate(360deg);
}

.rac_chefs_slider .swiper-pagination,
.rac_testimonial_slider .swiper-pagination {
  bottom: 40px;
}

.rac_chefs_slider .swiper-pagination-bullet,
.rac_testimonial_slider .swiper-pagination-bullet {
  width: 10px;
  height: 3px;
  border-radius: 10px;
  background: #2e2e2e;
  opacity: 1;
}

.rac_chefs_slider .swiper-pagination-bullet-active,
.rac_testimonial_slider .swiper-pagination-bullet-active {
  background: var(--rac-primary-color);
  width: 25px;
}

/********************************************************
    Testimonials Section Style
********************************************************/

.rac_testimonial_wrapper {
  position: relative;
  overflow: hidden;
  background-image: url(../images/service_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rac_testimonial_slider .swiper::before,
.rac_testimonial_slider .swiper::after {
  content: " ";
  width: 292px;
  height: 129px;
  background-image: url(../images/testi_bg.webp);
  background-repeat: no-repeat;
  position: absolute;
}

.rac_testimonial_slider .swiper::before {
  bottom: 0;
  left: 0;
}

.rac_testimonial_slider .swiper::after {
  bottom: 0;
  left: 50%;
  transform: translateX(15px);
}

.rac_testimonial_slide {
  padding: 0 0 30px 30px;
}

.rac_testimonial_box {
  border: 1px solid var(--rac-border-color);
  background: var(--rac-black-color);
  border-radius: var(--rac-border-radius);
  padding: 30px;
  position: relative;
}

.rac_testi_btm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 30px;
  flex-wrap: wrap;
  gap: 15px;
}

.rac_testi_btm::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../images/quote.webp);
  width: 43px;
  height: 31px;
  transform: translate(50%, -50%);
}

.rac_testi_user {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}

.rac_testi_user img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
}

.rac_testi_user h6 {
  color: var(--rac-white-color);
}

.rac_testi_user p {
  font-size: 14px;
}

/********************************************************
    Events Section Style
********************************************************/

.rac_events_wrapper {
  position: relative;
  overflow: hidden;
  background-color: #1d1e1e;
}

.rac_events_gallery {
  margin-top: 30px;
}

.grid-item {
  width: calc(100% / 4);
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.grid-item img {
  width: 100%;
  transition: all 0.5s linear;
  object-fit: cover;
  position: relative;
}

.grid-item:hover img {
  transform: rotate(2deg) scale(1.1);
}

.grid-item::after {
  background: var(--rac-white-color);
  bottom: 0;
  content: "";
  left: 50%;
  position: absolute;
  right: 51%;
  top: 0;
  opacity: 0.3;
  transition: all 0.5s linear;
}

.grid-item:hover::after {
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.5s linear;
}

/********************************************************
    News And Blog Section Style
********************************************************/

.rac_blog_wrapper {
  position: relative;
  overflow: hidden;
  background-image: url(../images/service_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rac_blog_box {
  background: var(--rac-black-color);
  border-radius: var(--rac-border-radius);
  overflow: hidden;
}

.rac_blog_img {
  max-height: 242px;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 20px 20px 0 0;
}

.rac_blog_img::after {
  background: var(--rac-white-color);
  bottom: 0;
  content: "";
  left: 50%;
  position: absolute;
  right: 51%;
  top: 0;
  opacity: 0.3;
  transition: all 0.5s linear;
}

.rac_blog_box:hover .rac_blog_img::after {
  left: 0;
  right: 0;
  opacity: 0;
  transition: all 0.5s linear;
}

.rac_blog_img img {
  width: 100%;
  object-fit: cover;
  min-height: 242px;
  transition: all 0.5s linear;
}

.rac_blog_box:hover .rac_blog_img img {
  transform: rotate(2deg) scale(1.1);
}

.rac_blog_info {
  padding: 20px;
  border: 1px solid var(--rac-border-color);
  border-radius: 0 0 20px 20px;
}

.rac_blog_date {
  display: flex;
  align-items: center;
  gap: 7px;
  line-height: normal;
}

.rac_blog_date p {
  font-size: 14px;
  color: var(--rac-font-color);
}

.rac_blog_text {
  margin-top: 15px;
}

.rac_blog_text h4 {
  color: var(--rac-white-color);
  margin-bottom: 10px;
  transition: var(--rac-transition);
}

.rac_blog_box:hover .rac_blog_text h4 {
  color: var(--rac-primary-color);
}

.rac_blog_text p {
  color: var(--rac-font-color);
}

/********************************************************
    Footer Section Style
********************************************************/

.rac_footer_wrapper {
  position: relative;
  overflow: hidden;
  background-color: #1d1e1e;
  background-image: url(../images/demo/footer_bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rac_footer_wrapper::before {
  content: " ";
  background-image: url(../images/footer_shapes.webp);
  width: 100%;
  height: 100%;
  animation: 10s circlular linear infinite;
  position: absolute;
  top: 25px;
  left: 75px;
  background-repeat: no-repeat;
}

.rac_app_box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--rac-primary-color);
  border-radius: var(--rac-border-radius);
  padding: 0 20px 0 60px;
  gap: 20px 30px;
}

.rac_app_text {
  max-width: 640px;
  position: relative;
  z-index: 1;
}

.rac_app_text h3 {
  font-size: 50px;
  color: var(--rac-white-color);
  font-weight: 700;
}

.rac_app_stores {
  margin-top: 25px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.rac_app_stores a img {
  border-radius: 5px;
}

.rac_app_img {
  margin: -35px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.rac_app_img img:first-child {
  z-index: 1;
  border-radius: 25px;
}

.rac_footer_content {
  position: relative;
  margin-top: 55px;
}

.rac_footer_heading {
  margin-bottom: 15px;
}

.rac_footer_heading h6 {
  color: var(--rac-white-color);
}

.rac_footer_about p {
  max-width: 270px;
}

.rac_footer_social {
  display: flex;
  gap: 35px;
  margin-top: 15px;
}

.rac_footer_social li a svg {
  transition: var(--rac-transition);
}

.rac_footer_social li a:hover svg {
  fill: var(--rac-primary-color);
  transform: rotate(360deg);
}

.rac_footer_links li {
  margin-bottom: 15px;
  position: relative;
  margin-left: 15px;
  transition: var(--rac-transition);
}

.rac_footer_links li:hover {
  margin-left: 0;
}

.rac_footer_links li::before {
  content: " ";
  top: 50%;
  left: 0;
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: var(--rac-font-color);
  border-radius: 50%;
  transform: translateY(-50%);
  margin-left: -15px;
  opacity: 1;
  visibility: visible;
  transition: var(--rac-transition);
}

.rac_footer_links li:hover::before {
  opacity: 0;
  visibility: hidden;
  margin-left: 0;
  background-color: var(--rac-primary-color);
}

.rac_footer_links li:last-child {
  margin-bottom: auto;
}

.rac_footer_links li a {
  color: var(--rac-font-color);
}

.rac_footer_links li a:hover {
  color: var(--rac-primary-color);
}

.rac_footer_address li {
  margin-bottom: 15px;
}

.rac_footer_address li a {
  color: var(--rac-font-color);
  display: flex;
  gap: 10px;
}

.rac_footer_address li a:hover {
  color: var(--rac-primary-color);
}

.rac_footer_address li a svg {
  transition: var(--rac-transition);
}

.rac_footer_address li a:hover svg {
  fill: var(--rac-primary-color);
}

.rac_footer_form p {
  margin-bottom: 20px;
  max-width: 255px;
}

.rac_footer_form .rac_form_input input {
  padding-right: 75px;
}

.rac_form_input button {
  position: absolute;
  right: 0;
  top: 0;
  width: 59px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--rac-primary-color);
  border-radius: 5px;
}

/********************************************************
    Copyright Section Style
********************************************************/

.rac_copyright_wrapper {
  position: relative;
  padding: 12px;
  background-color: #171717;
}

.rac_copyright_text {
  text-align: center;
}

/*-------------------------------------------------------------------
 2. Menus Page
-------------------------------------------------------------------*/

.rac_menu_banner {
  background-image: url(https://via.placeholder.com/1920X328);
}

/*-------------------------------------------------------------------
 3. Events Page
-------------------------------------------------------------------*/

.rac_event_banner {
  background-image: url(https://via.placeholder.com/1920X328);
}

/********************************************************
    Planning Section Style
********************************************************/

.rac_planning_wrapper {
  position: relative;
  overflow: hidden;
  background-image: url(../images/demo/service_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rac_planning_wrapper::before {
  content: " ";
  background-image: url(../images/booking_shapes.webp);
  width: 100%;
  height: 100%;
  animation: 10s circlular linear infinite;
  position: absolute;
  top: 70px;
  left: 55px;
  background-repeat: no-repeat;
}

.rac_plan_box {
  position: relative;
  margin-bottom: 40px;
}

.rac_plan_box.left:last-child,
.rac_plan_box.right:last-child {
  margin-bottom: 0;
}

.rac_plan_box.left:nth-child(2) {
  padding-right: 40px;
}

.rac_plan_box.right:nth-child(2) {
  padding-left: 40px;
}

.rac_plan_box.left {
  text-align: right;
}

.rac_plan_box .rac_plan_title {
  display: flex;
  align-items: center;
  gap: 15px;
}

.rac_plan_box.left .rac_plan_title {
  justify-content: flex-end;
}

.rac_plan_title h4 {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--rac-font-color);
  color: var(--rac-font-color);
}

.rac_plan_title h2 {
  font-size: 40px;
  font-weight: 800;
  color: var(--rac-border-color);
}

.rac_plan_text {
  max-width: 280px;
  margin-top: 15px;
}

.rac_plan_box.left .rac_plan_text {
  margin-left: auto;
}

.rac_planning_img {
  position: relative;
  text-align: center;
}

.rac_planning_img img {
  border-radius: 50%;
  object-fit: cover;
}

/*-------------------------------------------------------------------
 4. About Page
-------------------------------------------------------------------*/

.rac_about_banner {
  background-image: url(../images/demo/about_banner.webp);
}

.rac_about_bannershop {
  background-image: url(../images/cards_img/banner_bg.webp);
}
/********************************************************
    History Section Style
********************************************************/

.rac_history_wrapper {
  position: relative;
  padding: 100px 0;
  overflow: hidden;
  background-image: url(../images/service_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rac_history_slider {
  position: relative;
  overflow: hidden;
}

.rac_history_slider .swiper {
  overflow: visible;
  height: 400px;
}

@media (width<= 992px) {
  .rac_history_slider {
    overflow: hidden;
  }
  
  .rac_history_slider .swiper {
    overflow: hidden;
    height: auto;
    min-height: 300px;
  }
}
.rac_history_img {
  border-radius: 20px;
  height: 400px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.rac_history_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rac_history_slider .swiper-pagination {
  position: relative;
  right: unset;
  left: unset;
  top: unset;
  bottom: unset;
  transform: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  z-index: 10;
  margin-left: 19px;
}

.rac_history_slider .swiper-pagination-bullet {
  position: relative;
  width: auto;
  min-width: 80px;
  height: fit-content;
  background: transparent;
  opacity: 1;
  color: var(--rac-white-color);
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
  text-align: right;
  padding-right: 25px;
}

.rac_history_slider .swiper-pagination-bullet-active {
  color: var(--rac-primary-color);
}

.rac_history_slider .swiper-pagination-bullet::after {
  content: "";  
  width: 8px;
  height: 8px;
  background-color: var(--rac-font-color);
  border-radius: 99px;
  position: absolute;
  right: -20px;
  top: 10px;
  outline: 5px solid transparent;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.rac_history_slider .swiper-pagination-bullet-active::after {
  background-color: var(--rac-primary-color);
  outline-color: rgb(238 46 46 / 20%);
}

.rac_history_slider .swiper-pagination-bullet::before {
  content: "";
  width: 2px;
  height: 91px;
  background-color: var(--rac-font-color);
  border-radius: 99px;
  position: absolute;
  right: -17px;
  top: 10px;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.rac_history_slider .swiper-pagination-bullet-active::before {
  background-color: var(--rac-primary-color);
}

.rac_history_slider .swiper-pagination-bullet:last-child::before {
  display: none;
}

.rac_history_date {
  display: flex;
  align-items: center;
  gap: 7px;
  line-height: normal;
  margin-bottom: 20px;
}

.rac_history_date p {
  font-size: 14px;
  color: var(--rac-font-color);
}

.rac_history_text p {
  margin-bottom: 10px;
}

.rac_history_text h4 {
  color: var(--rac-white-color);
  margin-bottom: 10px;
}

.rac_history_text a {
  font-size: 14px;
  font-weight: 600;
  color: var(--rac-primary-color);
}

.rac_history_text a:hover img {
  animation: rac_lr 1s infinite alternate;
}

/*-------------------------------------------------------------------
 5. Contact Page
-------------------------------------------------------------------*/

.rac_contact_banner {
  background-image: url(https://via.placeholder.com/1920X328);
}

/********************************************************
    Map Section Style
********************************************************/

.rac_map_content iframe {
  width: 100%;
  height: 600px;
  border: none;
}
